.message-author-me {
  text-align: right;
}

.message-wrap {
  max-width: 50%;
  border: 1px solid black;
  border-radius: 1.5vw;
  padding: 15px;
  display: inline-grid;
}

.message-wrap-me {
  background-color: lightyellow;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 120px;
  grid-template-areas:
    "one two"
    "three two";
}
.message-wrap-others {
  background-color: lightcyan;
  grid-template-rows: 1fr auto;
  grid-template-columns: 120px 1fr;
  grid-template-areas:
    "two one"
    "two three";
}

.message-grid-1 {
  grid-area: one;
  text-align: justify;
}
.message-grid-2 {
  text-align: center;
  grid-area: two;
}
.message-grid-3 {
  grid-area: three;
}

.margin-top-10 {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .message-wrap {
    max-width: 70%;
  }

  .message-wrap-me {
    background-color: lightyellow;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "two"
      "one"
      "three";
  }

  .message-wrap-others {
    background-color: lightcyan;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "two"
      "one"
      "three";
  }
}
